<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center"></div>
  <h1>
    Welcome to {{ title }}!
    <div class="container">
      <h1>Restful Tasks</h1>
  
 <h2>Here Are All The Tasks</h2>
  

    <div *ngFor="let task of tasks">
      <p>{{ task.title }} <button (click)="showTask(task)">Show Task</button></p>
    </div>

  <h3>Here is the requested task</h3>
    <div *ngIf="showing">
      <p>Task: {{ showing.title }}</p>
      <p>Description: {{showing.description}}</p>
      </div>
    </div>