<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Here are the lions!</title>
</head>
<body>
    <h1>Show!</h1>
    <h3>Name: <%= lion.name %></h3>
    <h3>Weight: <%= lion.weight %></h3>
    <h4>Color: <%= lion.color %></h4>
    <a href="/">Home</a>
    <a href="/<%= lion._id %>/edit">Edit</a>
  </body>
</html>