<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MonoDB Quotes</title>
</head>
<body>
    <body>
        <h1>Welcome to Quoting Dojo</h1>
        <form action="/quotes" method="post">
            Name:
            <input type="text" name='name'>
            Quote:
            <textarea name="quote" rows="8" cols="40"></textarea>
            <input type="submit" value="Add my quote!">
        </form>
        <a href="/quotes">Skip to quotes!</a>
    </body>
</body>
</html>